.aside {
  position: fixed;
  left: 0;
  top: 0;
  background: #333;
  padding-top: 10px;
  width: 300px;
  height: 100vh;
  z-index: 999999;
}
.aside nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.aside nav a {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 50px;
  color: #f3f3f3;
  text-decoration: none;
  padding: 0 20px;
}
.aside nav a.router-link-exact-active {
  background: #000;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 320px;
  z-index: 99999;
  background: #333;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding-right: 20px;
}