.editwrap {
  .ant-row {
    margin-bottom: 1em;

    .ant-input {
      margin-top: 5px;
    }
  }

  .content{
    height: 500px !important;
    background: #222;
    color: #f3f3f3;
    font-size: 16px;
  }

  .el-date-editor.el-input {
    width: 100%;
  }

  .edit-headicon {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    a {
      margin-right: 10px;
    }
  }
}
