.editwrap .el-row {
  margin-bottom: 1em;
}
.editwrap .el-row .el-input {
  margin-top: 5px;
}
.editwrap .el-textarea__inner {
  height: 500px;
  background: #222;
  color: #f3f3f3;
  font-size: 16px;
}
.editwrap .el-tag {
  margin-left: 10px;
}
.editwrap .el-date-editor.el-input {
  width: 100%;
}
.editwrap .edit-headicon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.editwrap .edit-headicon a {
  margin-right: 10px;
}