.editwrap .ant-row {
  margin-bottom: 1em;
}
.editwrap .ant-row .ant-input {
  margin-top: 5px;
}
.editwrap .content {
  height: 500px !important;
  background: #222;
  color: #f3f3f3;
  font-size: 16px;
}
.editwrap .el-date-editor.el-input {
  width: 100%;
}
.editwrap .edit-headicon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.editwrap .edit-headicon a {
  margin-right: 10px;
}