.login {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: 100%;
    max-width: 600px;
    margin: 0;

    .el-input {
      margin-bottom: 1em;
    }

    .el-button {
      width: 100%;
    }
  }

  .loginhint {
    color: #f00;
    cursor: pointer;
  }
}