* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eee;
}

p {
  margin: 1em 0;
}

.el-pagination {
  margin-top: 1em;
}

.layout {
  padding: 20px;
}

.container {
  margin-left: 300px;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 50px;
}

.edit-btn {
  color: #333;
  text-decoration: underline;

  &:nth-child(n + 2) {
    margin-left: 10px;
  }
}

.vue-simple-markdown {
  white-space: inherit !important;
}

@import url(./modules/aside.css);
@import url(./modules/login.css);
@import url(./modules/edit.css);
@import url(./modules/setting.css);
